.u-section-1 .u-sheet-1 {
  min-height: 806px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 101px -25px 0 460px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 86px -17px 0 681px;
}

.u-section-1 .u-image-1 {
  width: 805px;
  height: 835px;
  margin: -611px auto -60px -86px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 360px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 581px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 250px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 471px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 160px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 381px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 560px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 324px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 281px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 353px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 700px;
}

.u-section-2 .u-image-1 {
  width: 43px;
  height: 43px;
  margin: 24px auto 0 11px;
}

.u-section-2 .u-image-2 {
  width: 43px;
  height: 43px;
  margin: -43px auto 0 427px;
}

.u-section-2 .u-image-3 {
  width: 43px;
  height: 43px;
  margin: -43px 271px 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 352px;
  margin: 0 auto 0 11px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 466px;
  --radius: 21px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 21px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 5px;
}

.u-section-2 .u-text-2 {
  line-height: 2.11;
  font-weight: 700;
  font-style: italic;
  margin: 35px 16px 0 0;
}

.u-section-2 .u-group-1 {
  width: 371px;
  min-height: 466px;
  height: auto;
  --radius: 30px;
  margin: -466px 359px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-top: 19px;
  padding-bottom: 19px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 -30px 0 11px;
}

.u-section-2 .u-text-4 {
  line-height: 1.76;
  font-style: italic;
  font-weight: 700;
  margin: 47px 17px 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 47px 17px 0;
}

.u-section-2 .u-group-2 {
  width: 346px;
  min-height: 466px;
  height: auto;
  --radius: 31px;
  margin: -466px -15px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-2 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  margin: 11px 28px 0;
}

.u-section-2 .u-text-7 {
  line-height: 2.2;
  font-style: italic;
  font-weight: 700;
  margin: 20px 28px 0;
}

.u-section-2 .u-btn-1 {
  --radius: 25px;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 35px 359px 60px auto;
  padding: 22px 39px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-5 {
    margin-right: 16px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 159px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 349px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 59px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-right: 169px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-2 {
    margin-left: 297px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 4px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 2px;
    margin-left: 2px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 2px;
    margin-right: 1px;
  }

  .u-section-2 .u-text-6 {
    font-size: 2.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 573px;
}

.u-section-3 .u-image-1 {
  width: 573px;
  height: 573px;
  margin: 0 -31px 0 auto;
}

.u-section-3 .u-text-1 {
  margin: -489px auto 0 -25px;
}

.u-section-3 .u-text-2 {
  line-height: 1.46;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 8px auto 0 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.51;
  font-size: 1.875rem;
  margin: 18px 473px 96px 56px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-right: 329px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    margin-right: 109px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -456px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -256px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 578px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  font-style: italic;
  margin: 34px 345px 0 14px;
}

.u-section-4 .u-shape-1 {
  width: 758px;
  height: 15px;
  background-image: none;
  margin: 3px auto 0 14px;
}

.u-section-4 .u-image-1 {
  width: 148px;
  height: 166px;
  margin: -130px 278px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 592px;
  height: 317px;
  margin: -14px auto 0 -22px;
}

.u-section-4 .u-image-3 {
  width: 201px;
  height: 201px;
  margin: -120px auto 0 119px;
}

.u-section-4 .u-text-2 {
  line-height: 1.88;
  margin: -384px 14px 60px 586px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 159px;
    margin-left: 0;
  }

  .u-section-4 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -28px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -71px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 14px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -437px;
    margin-right: 0;
    margin-left: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-shape-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 23px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 289px;
    margin-top: -121px;
    margin-left: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: 31px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-4 .u-shape-1 {
    width: 340px;
    margin-top: 15px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 198px;
    margin-right: 192px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 182px;
    margin-top: -289px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 127px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -473px;
    margin-bottom: -77px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 481px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 43px auto 0 -34px;
}

.u-section-5 .u-image-1 {
  width: 456px;
  height: 290px;
  margin: 13px 0 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: -290px auto 0 24px;
}

.u-section-5 .u-image-2 {
  width: 142px;
  height: 94px;
  margin: -53px 0 0 auto;
}

.u-section-5 .u-text-3 {
  line-height: 2.1;
  font-size: 1.875rem;
  margin: -6px 486px 59px 43px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 329px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-top: -290px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 109px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 216px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -216px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 582px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 28px auto 0 235px;
}

.u-section-6 .u-image-1 {
  width: 293px;
  height: 437px;
  margin: -8px 403px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 115px;
  height: 266px;
  margin: -327px auto 0 350px;
}

.u-section-6 .u-image-3 {
  width: 105px;
  height: 231px;
  margin: -231px 335px 0 auto;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  margin: -185px auto 0 13px;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  margin: 85px auto 0 13px;
}

.u-section-6 .u-text-4 {
  font-size: 1.875rem;
  margin: -166px 27px 0 auto;
}

.u-section-6 .u-text-5 {
  font-size: 1.5rem;
  margin: 94px 0 0 773px;
}

.u-section-6 .u-line-1 {
  width: 692px;
  transform-origin: right center 0px;
  margin: -358px auto 60px 216px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-5 {
    margin-right: 101px;
    margin-left: 573px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-5 {
    margin-left: 353px;
  }

  .u-section-6 .u-line-1 {
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 176px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 247px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 173px;
  }

  .u-section-6 .u-line-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 111px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 47px;
  }

  .u-section-6 .u-image-2 {
    margin-left: 225px;
  }

  .u-section-6 .u-image-3 {
    margin-right: 235px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-5 {
    margin-left: 0;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }
}